name: CI
on: 
  workflow_dispatch:
  push:
    paths-ignore:
      # https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions
      - "docs/**"
      - '**.md'
      - '**.txt'
      - 'LICENSE'
  pull_request:
    paths-ignore:
      - "docs/**"
      - '**.md'
      - '**.txt'
      - 'LICENSE'
jobs:
  build:
    name: Build
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        target: [win64, arm64]
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 1
          submodules: true
      - name: compile-Privexec
        run: pwsh -NoProfile -NoLogo -ExecutionPolicy unrestricted -File "./build.ps1" -Target "${{ matrix.target }}"
      - name: Package release
        shell: pwsh
        # create package and show sha256 hash
        run: |
          Set-Location build
          # cleanup zip files
          Remove-Item -Force *.zip
          cpack -G ZIP
          $obj=Get-FileHash -Algorithm SHA256 Privexec*.zip
          Split-Path -Leaf $obj.Path
          $obj.Algorithm +":"+$obj.Hash.ToLower()
          
      - name: Upload release artifact
        uses: actions/upload-artifact@v4
        with:
          name: Privexec-release-${{ matrix.target }}
          path: build/Privexec-*.zip